#----------------------------------------------------------------------------------------
#                               blenderLink2Vrc Project
#----------------------------------------------------------------------------------------
#   Program Script Name	    :	.gitignore
#   Process                 :   gitignore
#
#   Author Name			    :	Coffee_tea_
#
#   Revisions:
#   -- DATE --              --- REV NO ---          --- DESCRIPTION ---
#   2026-01-26                  1.0.0                   Start of Dev
#----------------------------------------------------------------------------------------


# 匹配一些不必保存的文件格式
*.zip
*.7z

*.code-workspace

*.blend

# 匹配文件夹
dev_library
__pycache__

