#----------------------------------------------------------------------------------------
#                               blenderLink2Vrc Project
#----------------------------------------------------------------------------------------

# OSC库
python-osc

# simple eval库
simpleeval